<button
  *ngIf="products && products.length"
  mat-fab
  color="primary"
  (click)="toggleFilter()"
  class="filterButton"
>
  <mat-icon>filter_list</mat-icon>
</button>
<mat-drawer-container
  *ngIf="products && products.length"
  class="flex justify-between min-h-full"
>
  <mat-drawer [opened]="checkFilter">
    <app-filters (categoryChange)="onCategoryChange($event)"></app-filters>
  </mat-drawer>
  <mat-drawer-content>
    <app-products-header
      [numOfItems]="products.length"
      (columnsChange)="onColumnsChange($event)"
      (sortChange)="onSortChange($event)"
      (numOfItemsChange)="onNumOfItemsChange($event)"
    ></app-products-header>
    <mat-grid-list [cols]="colsCount" rowHeight="400">
      <div *ngFor="let product of products; let i = index">
        <mat-grid-tile *ngIf="beginIndex <= i && i < endIndex">
          <div class="h-full w-full p-5">
            <app-product-card
              [fullMode]="colsCount == 1"
              [product]="product"
              (addToCart)="onAddToCart($event)"
            ></app-product-card>
          </div>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>

<div
  *ngIf="!products || products.length == 0"
  class="flex flex-col items-center justify-center min-h-full"
>
  <div class="flex flex-col items-center">
    <mat-spinner></mat-spinner>
    <p class="text-2xl m-10">This might take some time.</p>
  </div>
</div>
